html {
    background-image: url(../images/header-background.png);
    background-position: top center;
    background-repeat: repeat-x;

    background-color: #c8c3c2;

    margin: 0;
    padding: 0;
}

body {
    position: relative;

    width: 950px;

    margin-top: 0;
    margin-left: auto;
    margin-right: auto;

    font-family: "Ubuntu Mono", UbuntuMono, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", "Ubuntu Beta", UbuntuBeta, Ubuntu, "Bitstream Vera Sans", "DejaVu Sans", Tahoma, sans-serif;;

    color: #3f3a38;
    font-size: 18px;
}

/* HEADER STUFF */

#nameblock {
    position: absolute;
    top:28px;
    left: 102px;

    width: 182px;
    height: 182px;

    background-color: #c8c3c2;
    background-image: url(../images/header-box-background.png);
    background-position: top center;
    background-repeat: no-repeat;

    font-size: 64px;
    color: #3f3a38;

    text-align: center;
}

#nameblock .name {
    display: block;
    height: 91px;
    line-height: 91px;

    vertical-align: middle;
}

#navbar {
    position: absolute;
    top: 115px;
    left:385px;
}

#navbar .link {
    display: inline-block;
    padding: 0 30px;
    margin-right: 10px;

    height: 38px;
    line-height: 38px;

    background: #706765;
    color: #c8c3c2;

    text-decoration: none;
}

#icons {
    position: absolute;
    top: 236px;

    width: 274px;
    text-align: right;
}

#icons img {
    padding-left: 4px;
}

/** Sidebar */

#sidebar {
    position: absolute;
    top: 312px;

    width: 274px;

    text-align: right;
    font-size: 16px;
}

#sidebar h3 {
    margin-top: 40px;
    font-size: 16px;
    font-style: italic;
    font-weight: normal;
}

#sidebar h3:first-child {
    margin-top: 0;
}


#sidebar a {
    color: #3f3a38;
    text-decoration: none;
}

#sidebar a:hover {
    color: #c68906;
}

/** content */

#container {
    position: absolute;

    top: 210px ;
    left:385px;
}

#content {
    font-size: 18px;
}

#content > * {
    padding-left: 45px;
}

#content h1 {
    font-size: 36px;
    font-weight: normal;

    border-left: solid 17px #3f3a38;
    padding: 15px 0 15px 26px;
}

#content h1:first-child {
    margin-top: 0;
}

#content h1.green {
    border-color: #6bb505;
}

#content h1.pink {
    border-color: #9d055e;
}

#content h2 {
    font-weight: normal;

    margin-top: 40px;

    border-left: solid 8px #3f3a38;
    padding-left: 20px;
}

#content .projects .project:first-child h2 {
    margin-top: 0;
}

#content a {
    color: #3f3a38;
    border-bottom: dotted 1px #3f3a38;
    text-decoration: none;
}

#content a:hover {
    color: #c68906;
    border-bottom: dotted 1px #c68906;
}

#content .project .links {
    height: 30px;
    line-height: 30px;

    font-size: 14px;
}

#content .project .links a {
    padding-left: 30px;
    padding-right: 15px;

    line-height: 30px;

    background-repeat: no-repeat;
    background-position: 5px 0px;

    border: none;
}

#content .project .links .website {
    background-image: url(/images/icons/web-small.png);
}

#content .project .links .github {
    background-image: url(/images/icons/github-small.png);
}

#content .project .links .gem {
    background-image: url(/images/icons/rubygem-small.png);
}

#footer {
    margin-top: 150px;

    padding-left: 45px;
    padding-bottom: 20px;

    font-size: 14px;

    color: #706765;
}

/** misc */

a img {
    border: none;
}

